.not-visible {
	display: none;
}


.dz {
	border-style: dashed;
	border-radius: 6px;
	border-color: #ddb;
	transition: .5s;
}

.dz:hover{
	background-color: #f4f3f5;
}

.avatar-sm {
	height: 36px;
	width: 35px;
	border-radius:50% ;
}

.avatar-big {
	height: 230px;
	width: 230px;
	border-radius:50% ;
	}

.l-sm {
	height: 30px;
	width: auto;
}

.